@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)<hr>
  @Html.LabelFor(model => model.Brand)
  @Html.EditorFor(model => model.Brand)<hr>
  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)<hr>

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>