@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit</h2>
<h3>Edit this Engineer: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)<hr>
  @Html.LabelFor(model => model.ContactInfo)
  @Html.EditorFor(model => model.ContactInfo)<hr>
  @Html.LabelFor(model => model.AvailHours)
  @Html.EditorFor(model => model.AvailHours)<hr>


  <input type="submit" value="Save" />
}
<br>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>